<p><%= @user.name %> is sending you a custom Tile Design Studio Project.</p>

<p>If you need immediate assistance you can call us or e-mail us.</p>

<p>
  Original Mission Tile<br/>
  Jorge de Avila No 100, San Juanico El Grande<br/>
  San Luis Potosí, SLP 78414 | Mexico.<br/>
  t: 011 (52) 444 240 4456<br/>
  e-mail: sales@originalmissiontile.com<br/>
</p>
