<p><%= @user.name %>,</p>

<p>Your account to use Tile Design Studio has been authorized.</p>

<% if @user.role? :internal_user %>

  <p>You can start using it <a href='<%="http://#{ENV['HOST']}" %>'>here</a>.</p>

<% else %>
    
  <p>Please contact your reference '<%= @user.reference %>' for more information.</p>

<% end %>
